.footer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.footer_info{
  font-family: 'Lora', serif;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--secondary-color-bg);
}

.footer_info-message h2{
  font-size: 40px;
  margin-left: 50px;
  color: var(--primary-color-text);
}

.footer_info-message p{
  color: var(--primary-color-text);
  font-size: 30px;
  margin-left: 50px;
}

.footer_info-message p span a{
  color: var(--primary-color-text);
}

.footer_socialMedia{
  width: 35%;
  background-color: var(--primary-color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_socialMedia-title{
  text-align: center;
  font-family: 'Lora', serif;
  color: var(--secondary-color-text);
}

.footer_socialMedia-title p{
  font-size: 30px;
}

.footer_socialMedia-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon{
  height: 50px;
  margin: 10px;
  color: var(--secondary-color-text);
}

.filter{
  filter: var(--filter);
}

@media(max-width: 769px){
  .footer_info-message h2{
    font-size: 35px;
    margin-left: 30px;
    color: var(--primary-color-text);
  }

  .footer_info-message p{
    font-size: 25px;
    margin-left: 30px;
  }

  .footer_socialMedia-title p{
    font-size: 25px;
  }

  .icon{
    height: 40px;
    margin: 10px;
    color: var(--secondary-color);
  }
}

@media(max-width: 481px){
  .footer_info-message h2{
    font-size: 20px;
    margin: 10px;
    color: var(--primary-color-text);
  }

  .footer_info-message p{
    font-size: 20px;
    margin: 10px;
  }

  .footer_socialMedia-title{
    color: var(--primary-color-text);
  }

  .footer_socialMedia-title p{
    font-size: 20px;
    margin: 10px;
  }

  .icon{
    height: 30px;
    margin: 5px;
    color: var(--secondary-color-text);
  }

  .footer_socialMedia{
    background-color: var(--secondary-color-bg);
  }

  .filter{
    filter:var(--filter1);
  }

  
}